section.about#about
  .flex.flex--center
    .col-1
      h2#about About
      p My name is Edwin Nettles. I design digital for social media and many other purposes. I also do some code and motion design.
    .col-1
      .avatar
