section.design#design
  .flex.flex--space-around
    .col-1.push-left-far
      h2 Design
      p.home-lead Designing is definitely my biggest passion. blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah
      
      a(href="#").home-cta See More
