section.youtube#youtube
  .flex.flex--space-around
    
    .col-1
      .video-strip
      .flex-video <iframe width="300" height="169" src="https://www.youtube.com/embed/AbxKBQ_HwtQ?rel=0&amp;showinfo=0" frameborder="0" allowfullscreen></iframe>
      
      
    .col-1.order-second
      h2 YouTube
      p.home-lead My YouTube channel is where I post timelaspes of my work, tutorials and more.
      a(href="http://youtube.com/natedzn").home-cta Check out my Channel
